.menu-container {
    height: 3rem;
    width: 30vw;
    border: 1px solid var(--brand-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-links {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    gap: 15px;
    color: currentColor;
}